<%- include('../partials/header', { title: 'Genres' }) %>

<div class="container">
  <div class="title-bar">
    <h1 class="page-title">Genres</h1>
    <a href="/genres/new" class="create-btn">+ Add New Genre</a>
  </div>

  <% if (genres.length > 0) { %>
  <div class="grid-container">
    <% genres.forEach(genre => { %>
    <div class="grid-card">
      <h2><a href="/genres/<%= genre.genre_id %>"><%= genre.name %></a></h2>
    </div>
    <% }) %>
  </div>
  <% } else { %>
  <p class="empty-message">No genres available.</p>
  <% } %>
</div>

<%- include('../partials/footer') %>
