<%- include('../partials/header', { title: 'Video Games' }) %>

<div class="container">
  <h1 class="page-title">Games</h1>

  <% if (games.length > 0) { %>
  <div class="grid-container">
    <% games.forEach(game => { %>
    <div class="grid-card">
      <h2><a href="/games/<%= game.game_id %>"><%= game.title %></a></h2>
    </div>
    <% }) %>
  </div>
  <% } else { %>
  <p class="empty-message">No games available.</p>
  <% } %>
</div>

<%- include('../partials/footer') %>
