<%- include('../partials/header', { title: 'Developers' }) %>

<div class="container">
  <div class="title-bar">
    <h1 class="page-title">Developers</h1>
    <a href="/developers/new" class="create-btn">+ Add New Developer</a>
  </div>

  <% if (developers.length > 0) { %>
  <div class="grid-container">
    <% developers.forEach(developer => { %>
    <div class="grid-card">
      <h2>
        <a href="/developers/<%= developer.developer_id %>"
          ><%= developer.name %></a
        >
      </h2>
    </div>
    <% }) %>
  </div>
  <% } else { %>
  <p class="empty-message">No developers available.</p>
  <% } %>
</div>

<%- include('../partials/footer') %>
